<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop</title>
  </head>
  <body>
    <header><h1>Coffee Shop</h1></header>
    <nav>
      <ul>
        <li><a href="./menu.html">Menu</a></li>
        <li><a href="./about.html">About Us</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Welcome to Cafe Aroma</h2>
        <p>Discover the finest coffee blends at Cafe Aroma</p>
        <a href="./menu.html">View Menu</a>
      </section>
      <section>
        <h2>About Cafe Aroma</h2>
        <p>
          At Cafe Aroma, we take pride in our coffee heritage. Our coffee feans
          are carefully selected
        </p>
        <a href="./about.html">Find more about us here</a>
      </section>
      <article>
        <h2>History about coffee</h2>
        <p>
          As it is thought that coffee originated in Ethiopia, it is also
          believed it made ith way north, across the red sea into Yemen in the
          15th Century. It then started to be grown in the Yemeni district of
          Arabia, and by the 16th Century it was known in Persia, Egypt, Syria,
          and Turkey.
        </p>
      </article>
      <section>
        <h2>Our coffee selection</h2>
        <p>Arabica</p>
        <p>Robusta</p>
      </section>
      <aside>
        <h2>Coffee Drinks</h2>
        <ul>
          <li>Espresso</li>
          <li>Capuccino</li>
          <li>Latte Machiato</li>
          <li>Freddo Espresso</li>
        </ul>
      </aside>
      <div>
        <h3>Opening Hours</h3>
        <ul>
          <li>
            Monday - Friday:
            <span style="color: green">8AM - 12PM</span>
          </li>
          <li>Saturday <span style="color: green">8AM 1AM</span></li>
          <li>Sunday <span style="color: crimson">Non-working day</span></li>
        </ul>
      </div>
    </main>
    <footer>
      <h4>2024 Cafe Aroma | All Rights Reserved</h4>
      <p>Contact info: Some Address</p>
      <p>Contact phone: 070123456</p>
    </footer>
  </body>
</html>
