<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 04 - Inline vs Block Elements</title>
</head>
<body>
    <!-- 
        Block Elements => take up the full width of their container, pushing the following elements to a new line
        Block Elements : p, h1-h6, div, semantic wrapper elements...
        
        Inline elements => only take up as much width as needed by their content, allowing other elements to appear beside them on the same line
        Inline Elements : a, b, span, img, strong, em, b... 
    -->

    <h1>Block & Inline HTML Elements</h1><a href="https://en.wikipedia.org/wiki/Pug">Pug reference</a> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Pug_-_1_year_Old_%28cropped%29.jpg/330px-Pug_-_1_year_Old_%28cropped%29.jpg" alt="Cute pug" width="80">

    <p>Paragraph 01</p><p>Paragraph 02</p>

    <p>
        Lorem ipsum <b>dolor sit amet</b> consectetur adipisicing elit. Sed, quibusdam cupiditate amet porro rem ipsam labore aliquid eveniet earum inventore <u> odio provident ab ratione</u>, eius id, autem consequatur velit doloremque. <a href="">LINK</a>
        Doloribus, impedit illo. Voluptas est recusandae minima dolorem natus autem nostrum <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT8R_1O2AdemEpPQMw7FwsGxtR9_Fu-CGY6finMWv9xOBpqKdOf" alt="Koala" width="100"> OVA KAJ KE BIDE cupiditate totam reiciendis quis blanditiis molestias amet esse fugiat culpa, praesentium ipsa et fugit ipsum doloremque unde quo?
        Sed cumque voluptas ad fuga vel quisquam tempora odit omnis deserunt, nobis, eos aspernatur dolor rerum necessitatibus eaque autem impedit sunt laboriosam facere nihil voluptates ullam quis. Voluptatum, beatae error!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quibusdam maxime qui eum laborum vero fugit nulla culpa repudiandae reiciendis animi maiores beatae blanditiis illum error iure, soluta itaque quasi. <h3>H3 HEADER</h3>
        Iure, ratione ducimus facere deleniti iusto magnam consequatur aperiam cumque! Similique delectus, adipisci nesciunt quisquam quasi, in maxime doloremque sit, assumenda vitae ipsam id a aliquid nihil ad nostrum quos.
    </p>

</body>
</html>