<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout tags</title>
</head>
<body>
    <header>
        <a href="layout.html">LOGO</a>
        <nav>
            <ul>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="products.html">Products</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sport section</h2>
           <section>
            <h3>Basketball</h3>
            <article>
                <h4>NBA</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio non sint blanditiis eius voluptate quod. Possimus magni sit exercitationem laborum explicabo inventore impedit a aut vel. Architecto dolorum quisquam rem.</p>
                <a href="">read more...</a>
            </article>
            <article>
                <h4>MK</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio non sint blanditiis eius voluptate quod. Possimus magni sit exercitationem laborum explicabo inventore impedit a aut vel. Architecto dolorum quisquam rem.</p>
                <a href="">read more...</a>
            </article>
           </section>

           <section>
            <h3>Tennis</h3>
            <article>
                <h4>Australian open</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio non sint blanditiis eius voluptate quod. Possimus magni sit exercitationem laborum explicabo inventore impedit a aut vel. Architecto dolorum quisquam rem.</p>
                <a href="">read more...</a>
            </article>
            <article>
                <h4>MK</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio non sint blanditiis eius voluptate quod. Possimus magni sit exercitationem laborum explicabo inventore impedit a aut vel. Architecto dolorum quisquam rem.</p>
                <a href="">read more...</a>
            </article>
           </section>
        </section>
        <section>
            <h2>Economy news</h2>
            <article>
                <h4>Home economy</h4>
                <section>
                    <h5>Intro</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquid adipisci beatae commodi praesentium molestias quidem, cupiditate officia nulla amet neque, voluptates iusto esse deserunt sunt quia sed soluta iste.</p>
                </section>
                <section><h5>Main part</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur omnis distinctio saepe! Voluptatem saepe rem perspiciatis dolorem quae est tenetur omnis architecto beatae qui atque, aliquam mollitia asperiores aut dolores?</p></section>
            </article>
        </section>
    </main>

    <aside>
        <h3>Because you liked sport section...</h3>
        <ul>
            <li>
                <a href="https://www.gol.mk/">Gol.mk</a>
            </li>
            <li>
                <a href="https://ekipa.mk/">Ekipa.mk</a>
            </li>
        </ul>
    </aside>
    <span style="background-color: blue;"> Hello, I'm a span!</span> <b>test</b>
    <div style="background-color: red;">
      Hello, I'm a div!
    </div>

   
</body>
</html>