.container {
  display: grid;
  height: 600px;
  width: 600px;
  background-color: cadetblue;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  /* grid-template-columns: 25% 25% 25% 25%; if not using fr you should always consinder the gap, margin etc. */
  /* grid-template-rows: 1fr 2fr 1fr 2fr; */

  gap: 20px;
}

/* We can add custom width to the elements */
.child {
  border: 1px solid black;
  /* margin: 20px; */
}

.container-inline {
  display: inline-grid;
}

/* We should always consider the number of children elements to be compatible with the number of grid cells created with display:grid */
.container-repeat {
  display: grid;
  height: 300px;
  width: 300px;
  background-color: burlywood;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
