<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Non semantic elements</title>
  </head>
  <body>
    <h1 style="background-color: blueviolet">This is a block element</h1>
    <p style="background-color: crimson">This is a block element too</p>
    <span style="background-color: aqua"
      >This is inline element
      <p>This is a paragraph inside a span element</p></span
    >
    <span style="background-color: coral">Another span element</span>
    <p style="background-color: deeppink">This is a block element</p>
  </body>
</html>
