/* Justify-content for horizontal alignhemnt */
.grid-container-justify {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  background-color: chocolate;
  padding: 10px;
  width: 400px;
}

.grid-container-justify > div {
  background-color: blanchedalmond;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Align-content for horizontal alignhemnt */
.grid-container-align {
  display: grid;
  align-content: center;
  justify-content: space-between;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  background-color: chocolate;
  padding: 10px;
  height: 400px;
  width: 400px;
}

.grid-container-align > div {
  background-color: blanchedalmond;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
