/* a {
 text-decoration: none;
 color: green;
 background-color: aqua;
}


a {
 text-decoration: none;
 color: inherit;
}

a:hover {
 background-color: chocolate;
}

a:active {
 background-color: red;
}

a:focus {
 border: 5px solid green;
 padding: 20px;
} */

a {
 text-decoration: none;
}

a:link {
 color: blue;
}

a:visited {
 color: #437A16;
}

a:hover {
 background-color: red;
}

a:focus {
 background-color: #BAE498;
}

p:hover {
 color: blue;
 cursor: pointer;
}

#name:focus {
 width: 400px;
 border: 3px solid red;
}