/* =============== Transitions =============== */

.box {
    background-color: darkgreen;
    border-radius: 6px;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    color: white;

    /* Define transitions for the element */

    /* Applies a transition when the specified property changes */
    transition-property: transform;
    /* Ensures compatibility for browsers (Vendor Prefixes) */
    -webkit-transition-property: background-color, border-radius;
    -moz-transition-property: background-color, border-radius;
    -o-transition-property: background-color, border-radius;

    /* Specifies the duration for transitions */
    transition-duration: 5s, ;
    /* 5 seconds for the first property, 2 seconds for the second */
    -webkit-transition-duration: 5s, 2s;
    -moz-transition-duration: 5s, 2s;
    -o-transition-duration: 5s, 2s;

    /* Defines the timing function for the transitions */
    transition-timing-function: ease, ease-in-out;
    -webkit-transition-timing-function: ease, ease-in-out;
    -moz-transition-timing-function: ease, ease-in-out;
    -o-transition-timing-function: ease, ease-in-out;

    /* Delay time before the transition starts */
    /* transition-delay: 2s; */
}

/* Applies transformations when the element state is changed */
.box:hover {
    /* height: 400px; */
    background-color: tomato;
    border-radius: 50px;
    transform: rotate(50deg);
}


/* ======== Different Transition Timing-Functions ======== */

.transition-timing {
    color: white;
    background: yellowgreen;
    height: 100px;
    width: 100px;
    border-radius: 6px;
    margin: 10px;
    transition-property: width;
    transition-duration: 2s;
}

.div1 {
    transition-timing-function: linear;
}

.div2 {
    transition-timing-function: ease;
}

.div3 {
    transition-timing-function: ease-in;
}

.div4 {
    transition-timing-function: ease-out;
}

.div5 {
    transition-timing-function: cubic-bezier(0, 0.16, 0.53, 2.03);
}

.transition-timing:hover {
    /* height: 300px; */
    width: 400px;
}


/* =============== Animations =============== */
/* => offers far more capabilities than transitions */

#container {
    width: 700px;
    height: 500px;
    background-color: aqua;
    position: relative;
}

#child {
    width: 25%;
    height: 25%;
    background-color: blue;
    position: absolute;
    /* 
        *animation* is shorthand for:
        animation-name | animation-duration | animation-timing-function | animation-iteration-count | animation-direction
    */
    animation: move-arround 3s ease-in forwards infinite alternate;
}

#container:active #child {
    animation-play-state: paused;
}

/* Definition of the animation (what should happen) */
@keyframes move-arround {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateY(300%);
    }

    50% {
        background-color: crimson;
    }

    66% {
        transform: translate(300%, 300%);
    }

    100% {
        transform: translateX(300%);
        background-color: blueviolet;
    }
}